<% layout('/layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="alert text-white bg-dark flex-column d-flex justify-content-center align-items-center" role="alert"
        style="height: 30%; width: 30%;">
        <strong style="max-height: 50%;"><%= message %></strong>
        <hr>
        <p>
            <a href="<%=returnUrl%>" class="btn btn-dark borderColor">Go Back</a>
        </p>
    </div>
</div>